apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: fashionweb
  labels:
    app: alertmanager
data:
  alertmanager.yml: |-
    global:
      resolve_timeout: 5m

    route:
      group_by: ['alertname']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 1h
      receiver: 'telegram'
    
    receivers:
    - name: 'telegram'
      telegram_configs:
      - bot_token: '8591247403:AAETI2tmbKrGNrR-H0bAAAKd3JxsMlrKaGw'
        chat_id: 1170692028
        parse_mode: 'HTML'

    - name: 'web.hook'
      webhook_configs:
      - url: 'http://127.0.0.1:5001/'
