apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: fashionweb
  labels:
    app: grafana
data:
  prometheus.yaml: |-
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        uid: prometheus
        url: http://prometheus:9090
        access: proxy
        isDefault: true
        editable: true
