apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: fashionweb
  labels:
    app: prometheus
spec:
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30004
  type: NodePort
