.footer-area {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-area .row {
  justify-content: center;
}

.footer-bottom {
  justify-content: center;
}

.footer-text {
  text-align: center;
}